.navWrapper nav {
  padding: 27px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}
.navWrapper nav h1 {
  width: 190px;
  height: 44px;
}
.navWrapper nav .menu {
  display: flex;
  margin-top: 10px;
  margin-right: 155px;
}
.navWrapper nav .menu li a {
  display: block;
  width: 150px;
  height: 60px;
  font-size: 18px;
  text-align: center;
}
.navWrapper nav .menu .subMenu {
  display: none;
}
.navWrapper nav .register {
  margin-top: 10px;
}
.navWrapper nav .register span :first-child {
  margin-right: 10px;
}
.navWrapper .mySwiper .swiper-button-prev,
.navWrapper .mySwiper .swiper-button-next {
  color: transparent;
}
.navWrapper .mySwiper .slide {
  position: relative;
}
.navWrapper .mySwiper .slide div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  text-align: center;
  color: #fff;
}
.navWrapper .mySwiper .slide div h2 {
  font-size: 64px;
  font-weight: 500;
  padding-bottom: 30px;
  letter-spacing: 3px;
}
.navWrapper .mySwiper .slide div p {
  font-size: 18px;
  color: #eee;
  text-align: center;
}

.serviceWrapper {
  padding: 50px;
}